@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn {
  cursor: pointer;
}

.Navbar ul li {
  margin: 0 20px;
  list-style: none;
}

.Footer {
  display: grid;
  place-items: center;
  padding: 20px;
  width: 100%;
}

.Body {
  text-align: justify;
  display: grid;
  place-items: center;
  padding: 20px;
  height: 80vh;
  border-top: 2px solid;
  border-bottom: 2px solid;
}